/* This file is for your main application css. */

@tailwind preflight;
@tailwind components;

a {
  @apply text-grey-700 no-underline;
}

a:hover {
  @apply text-blue-500 underline;
}

.flash {
  @apply max-w-lg mx-auto rounded border flex p-4 mb-8;
}

.flash:empty {
  @apply hidden;
}

.flash-info {
  @apply border-blue-500 bg-blue-100 text-blue-700;
}

.flash-danger {
  @apply border-red-dark bg-red-lightest text-red-dark;
}

.btn-basic {
  @apply bg-blue-600 text-white uppercase tracking-wide font-light;
}

.btn-primary {
  @apply btn-basic rounded-lg py-2 px-4;
}

.btn-primary:hover {
  @apply no-underline text-white bg-blue-500 shadow-lg;
}

.btn-secondary {
  @apply btn-primary bg-grey-400 text-black font-normal;
}

.btn-secondary:hover {
  @apply no-underline text-black bg-grey-500 shadow-lg;
}


.cancel-link {
  @apply text-red uppercase tracking-wide;
}

.cancel-link:hover {
  @apply text-red;
}

.card {
  @apply rounded-lg bg-white py-8 px-16 shadow;
}

@responsive {
  .card-full {
    @apply w-full rounded-lg bg-white py-8 px-16 shadow;
  }
}

@responsive {
  .card-half {
    @apply rounded-lg bg-white py-8 px-12 shadow;

    width: 45%;
  }
}

.card-2\/3 {
  @apply w-2/3 rounded-lg bg-white py-8 px-16 shadow;
}

.input-group {
  @apply mb-8;
}

.required::after {
  content: " *";
}
label,
.label {
  @apply block text-grey-700 text-xl font-semibold;
}

.label-group {
  @apply flex items-center mb-4;
}

input[type=text]:not(.choices__input),
input[type=number],
input[type=password],
input[type=url],
input[type=time] {
  @apply appearance-none border-b border-grey-700 w-full py-2 px-3 text-grey-500 h-10;
}

input[type=text]:not(.choices__input):focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=time]:focus {
  @apply outline-none border-blue-500 bg-grey-200 text-grey-700;
}

textarea {
  @apply appearance-none rounded border-b-2 border-blue-500 bg-grey-200 w-full py-3 px-3 text-grey-500 text-base;
}

textarea:focus {
  @apply text-grey-700;
}

.list-item {
  @apply w-full py-2 px-4 flex justify-between;
}

.list-item:nth-child(odd) {
  @apply bg-grey-200;
}

.list-item:nth-child(even) {
  @apply bg-white;
}

.faded {
  @apply opacity-25;

  transition: all ease 500ms;
}

.obligation-selected {
  @apply bg-blue-100 rounded-lg;
}

.trash {
  @apply pr-4 invisible fill-current;
}

.obligation-selected > .trash:hover {
  @apply text-red cursor-pointer;
}

.obligation-selected > .trash {
  @apply visible;
}

.obligation-timestamp {
  @apply ml-2 text-grey-400;
}

.obligation-selected .obligation-timestamp {
  @apply text-grey-600;
}

@tailwind utilities;
