/* This file is for your main application css. */

@tailwind preflight;
@tailwind components;

a {
  @apply text-grey-700 no-underline;
}

a:hover {
  @apply text-blue-500 underline;
}

.flash-container {
  @apply flex flex-col flex-1 absolute;

  top: 4rem;
  right: 5rem;
}

.flash {
  @apply max-w-sm rounded-r border-l-3 shadow p-4 mb-4 inline-block relative;

  left: 0;
}

.flash:empty {
  @apply hidden;
}

.flash-info {
  @apply border-blue-500 bg-blue-000 text-blue-700;
}

.flash-error {
  @apply border-red-dark bg-red-lightest text-red-dark;
}

.slide-away {
  left: 50rem;
  transition: left ease 1000ms;
}

.btn-basic {
  @apply bg-blue-600 text-white uppercase tracking-wide font-light;
}

.btn-primary {
  @apply btn-basic rounded-lg py-2 px-4;
}

.btn-primary:hover {
  @apply no-underline text-white bg-blue-500 shadow-lg;
}

.btn-secondary {
  @apply btn-primary bg-grey-400 text-black font-normal;
}

.btn-secondary:hover {
  @apply no-underline text-black bg-grey-500 shadow-lg;
}


.cancel-link {
  @apply text-red uppercase tracking-wide;
}

.cancel-link:hover {
  @apply text-red;
}

.card {
  @apply rounded-lg bg-white py-8 px-16 shadow;
}

@responsive {
  .card-full {
    @apply w-full rounded-lg bg-white py-8 px-16 shadow;
  }

  .card-half {
    @apply rounded-lg bg-white py-8 px-12 shadow;

    width: 45%;
  }

  .team-card {
    @apply card-half;
  }

  .team-card:only-child {
    @apply card-full;
  }

  .card-2\/3 {
    @apply w-2/3 rounded-lg bg-white py-8 px-16 shadow;
  }
}

.input-group {
  @apply mb-8;
}

.required::after {
  content: " *";
}

label,
.label {
  @apply block text-grey-700 text-xl font-semibold;
}

.label-group {
  @apply flex items-center mb-4;
}

input[type=text]:not(.choices__input),
input[type=number],
input[type=password],
input[type=url],
input[type=email],
input[type=time] {
  @apply appearance-none border-b border-grey-700 w-full py-2 px-3 text-grey-500 h-10;
}

input[type=text]:not(.choices__input):focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=time]:focus {
  @apply outline-none border-blue-500 bg-grey-200 text-grey-700;
}

textarea {
  @apply appearance-none rounded border-b border-grey-700 w-full py-3 px-3 text-grey-500 text-base;
}

textarea:focus {
  @apply text-grey-700 border-blue-500 bg-grey-200 outline-none;
}

.list-item {
  @apply w-full py-2 px-4 flex justify-between;
}

.list-item:nth-child(odd) {
  @apply bg-grey-200;
}

.list-item:nth-child(even) {
  @apply bg-white;
}

.faded {
  @apply opacity-25;

  transition: all ease 500ms;
}

.obligation-selected {
  @apply bg-blue-100 rounded-lg;
}

.trash {
  @apply pr-4 invisible fill-current;
}

.obligation-selected > .trash:hover {
  @apply text-red cursor-pointer;
}

.obligation-selected > .trash {
  @apply visible;
}

.obligation-timestamp {
  @apply ml-2 text-grey-400;
}

.obligation-selected .obligation-timestamp {
  @apply text-grey-600;
}

.feedback {
  @apply fixed cursor-pointer;

  bottom: 3rem;
  right: 3rem;
}

.feedback-window {
  @apply fixed border-t-3 border-blue-500 bg-white px-4 py-2 shadow;

  bottom: 6rem;
  right: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
}

.grid-label {
  justify-self: center;
  align-self: center;
}

.grid-item {
  justify-self: center;
  align-self: center;
}

@screen sm {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
  }

  .grid-label {
    justify-self: end;
    align-self: center;
  }

  .grid-item {
    justify-self: start;
    align-self: center;
  }
}

.hide-if-empty:empty {
  @apply hidden;
}

.privacy > h1,
.privacy > h2,
.privacy > h3,
.privacy > h4,
.privacy > h5,
.privacy > h6,
.privacy > p {
  @apply mb-4;
}

.privacy > p + h1,
.privacy > p + h2, 
.privacy > p + h3, 
.privacy > p + h4, 
.privacy > p + h5, 
.privacy > p + h6,
.privacy > ul + h1,
.privacy > ul + h2, 
.privacy > ul + h3, 
.privacy > ul + h4, 
.privacy > ul + h5, 
.privacy > ul + h6,
.privacy > ol + h1,
.privacy > ol + h2, 
.privacy > ol + h3, 
.privacy > ol + h4, 
.privacy > ol + h5, 
.privacy > ol + h6 {
  @apply mt-8;
}

@tailwind utilities;
