<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FollowThrough</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter-ui.css"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="font-sans">
    <main role="main" class="border-t-7 border-blue-800 bg-grey-200 min-h-screen">
      <header class="container py-4 mb-4">
        <div class="flex items-end justify-between mx-2">
          <%= link to: "/" do %>
            <h2 class="font-medium text-2xl">Follow Through</h2>
          <% end %>
          <div>
            <%= unless logged_in?(@conn) do %>
              <%= link "Log in with GitHub", to: "/auth/github", class: "text-lg" %>
            <% else %>
              <div class="flex">
                <%= link "New Team", to: Routes.team_path(@conn, :new), class: "text-lg mr-4" %> 
                <%= link "Logout", to: "/auth/logout", method: :delete, class: "text-lg" %>
              </div>
            <% end %>
          </div>
        </div>
      </header>
      <p class="flash flash-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="flash flash-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
