<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if logged_in?(@conn), do: tag :meta,
          name: "channel_token",
          content: Phoenix.Token.sign(@conn, "user salt", current_user(@conn).id) %>
    <%= render "_favicons.html" %>
    <title>Follow Through</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter-ui.css"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="font-sans text-grey-800">
    <main role="main" class="border-t-7 border-blue-800 bg-grey-200 min-h-screen flex flex-col justify-between">
      <header class="container py-4 mb-4">
        <div class="flex items-center justify-between mx-2">
          <%= link to: Routes.team_path(@conn, :index), class: "flex items-end group text-2xl font-semibold text-blue-700 hover:text-blue-300 hover:no-underline" do %>
            <%= svg_image(@conn, "logo", class: "h-8 w-8 stroke-blue-700 group-hover:stroke-blue-300 sm:mr-4") %>
            <span class="hidden sm:block">Follow Through</span>
          <% end %>
          <div>
            <%= unless logged_in?(@conn) do %>
              <%= link to: "/auth/github", class: "btn-primary flex items-center normal-case" do %>
                <%= svg_image(@conn, "octocat", class: "h-6 w-6 mr-4") %>
                Sign in with GitHub
              <% end %>
            <% else %>
              <div class="flex items-center">
                <%= link "New Team", to: Routes.team_path(@conn, :new), class: "text-lg mr-4 text-blue-700 hover:text-blue-300" %>
                <%= link "Logout", to: "/auth/logout", method: :delete, class: "text-lg text-blue-700 hover:text-blue-300" %>
              </div>
            <% end %>
          </div>
        </div>
      </header>
      <%= render "_flash.html", conn: @conn %>
      <div class="flex-1">
        <%= render @view_module, @view_template, assigns %>
      </div>

      <p class="text-center text-blue-700 pb-8 leading-normal">
        A project by <%= link "Mitchell Hanberg", to: "https://www.mitchellhanberg.com", class: "text-blue-500 underline" %>
        &middot; <%= link "Privacy Policy", to: Routes.page_path(@conn, :privacy), class: "text-blue-500 underline" %>
        &middot; <%= link "Support", to: "mailto:support@followthrough.app", class: "text-blue-500 underline" %>
      </p>
    </main>
    <%= render "_feedback.html", conn: @conn, feedback: @feedback %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= render "_analytics.html" %>
  </body>
</html>
