<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if logged_in?(@conn), do: tag :meta,
          name: "channel_token",
          content: Phoenix.Token.sign(@conn, "user salt", current_user(@conn).id) %>
    <%= render "_favicons.html" %>
    <title>Follow Through</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter-ui.css"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="font-sans text-grey-800">
    <main role="main" class="min-h-screen flex flex-col justify-between">
      <%= render "_flash.html", conn: @conn %>
      <%= render @view_module, @view_template, assigns %>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
      <%= render "_analytics.html" %>
    </main>
  </body>
</html>
